.admin-container {
  padding: 24px;
  background-color: #f4f6f8;
  min-height: calc(100vh - 90px);
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.admin-layout {
  width: 100%;
  margin-top: 63px;
  display: flex;     
  min-height: 140vh;
  background: #f4f6f8;
}

.admin-main {
  flex: 1;          
  padding: 24px;
  margin-left: 220px;
}

.admin-page {
  margin-top: 70px;
  padding: 24px;
  background-color: #f4f6f8;
  min-height: calc(100vh - 90px);
  font-family: "Segoe UI", Tahoma, sans-serif;

  display: grid;
  grid-template-rows: auto 1fr;
}

.admin-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}


.admin-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1f2937;
}

.admin-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

footer{
    display: none;
}

@media (max-width: 768px), (max-height: 533px) {
  .admin-layout {
    margin-top: 100px;
    width: auto;
  }
}