.sidebar {
  position: fixed;
  top: 70px;    
  left: 0;
  height: calc(100vh - 70px);
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  color: #9ca3af;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar a.active {
  background: #2563eb;
  color: white;
}

@media (max-width: 768px), (max-height: 533px) {
  .sidebar {
  margin-top: 40px;
}
}