.social-icon{
  filter: var(--icon-filter);
  transition: filter .2s ease, transform .25s ease;
}

.social-icon:hover {
  transform: scale(1.15);
  filter: var(--icon-filter) brightness(1.3);
}

.footer {
  background: whitesmoke;
  color: #000;
  padding: 1rem 1rem 1.1rem;
  box-shadow: 0px -10px 30px rgba(0,0,0,0.15);
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;     
  margin: 0 auto;  
}

.footer-left {
  width: 40%;
  font-size: 1.2rem; 
  text-align: left;
}

.footer-right {
  width: 29%;
  font-size: 1.2rem;
  text-align: right;
}

.footer-icons {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 1rem;   
  margin-top: .8rem;
}

.footer-icons .icon {
  font-size: 1.1rem;
  cursor: pointer;
  transition: .3s;
}

.footer-icons .icon:hover {
  color: #000;
  transform: translateX(-4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;   
  margin-top: .8rem;
}

.footer-copy {
  text-align: center;
  font-size: .9rem;
  opacity: .9;
}


@media (max-width: 700px) {
  .footer-content {
    flex-direction: row;
    width: 100%;
    text-align: center;
  }
  .footer-left, .footer-right {
    width: 100%;
    text-align: center;
  }
  .footer-icons {
    flex-direction: row;
    justify-content: center;
  }
}