.page-content {
  margin-top: 6rem;
  text-align: center;
}

.checkout-btn {
  margin-top: 1rem;
  display:inline-block;
}


.cart-page {
  min-height: calc(100vh - 150px);
  display: flex;
  gap: 2rem;
}

.cart-items {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 95vh;
  overflow-y: auto;
  padding-right: 6px;
  padding-bottom: 2rem;  
  padding-top: 6rem; 
}

.cart-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: #fff;
  padding: .9rem 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.cart-item img {
  width: 62px;
  height: 62px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info {
  flex: 1;
}
.item-info h3 {
  font-size: 1rem;
  margin-bottom: 4px;
}
.item-info p {
  font-size: .9rem;
  opacity: .7;
}

.qty-btns {
  display: flex;
  align-items: center;
  gap: .3rem;
}
.qty-btns button {
  width: 26px;
  height: 26px;
  font-size: 0.9rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #eee;
}
.qty-btns button:hover {
  background: #ddd;
}

.remove-btn {
  padding: .35rem .75rem;
  border-radius: 6px;
  border: none;
  font-size: .8rem;
  background: #f5f5f5;
  color: #222;
}
.remove-btn:hover {
  background: #ddd;
}

.cart-summary {
  flex: 1.2;
  background: #fff;
  padding: 1.4rem;
  border-radius: 14px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
  height: fit-content;
  position: sticky;
  top: 100px;
}

.cart-summary h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: .6rem;
}

.checkout-btn {
  width: 100%;
  padding: .9rem;
  border-radius: 10px;
  border: none;
  background: #000;
  color: #fff;
  font-weight: 600;
  margin-top: 1rem;
}
.checkout-btn:hover {
  background: #222;
}

.remove-btn {
  background: #d8d8d8;
}
.remove-btn:hover {
  background: #bbb;
}