.brand-slider {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 25px 0;
    position: relative;
}

.brand-slider::before,
.brand-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.brand-slider::before {
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
}

.brand-slider::after {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
}

.slide-track {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;

    animation: marquee 18s linear infinite;
}

/* Pause on hover */
.brand-slider:hover .slide-track {
    animation-play-state: paused;
}
.brand-box {
    width: 170px;
    height: 90px;

    background: #ffffff;

    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    transition: transform .3s;
}

.brand-box:hover{
    transform: scale(1.05);
}

.brand-logo{
    width: 80%;
    height: 70%;
    object-fit: contain;
    display: block;
}

.red{
    background:#ef4444;
}

.green{
    background:#22c55e;
}

.blue{
    background:#3b82f6;
}

.violet{
    background:#9333ea;
}

@keyframes marquee{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

/* Tablet */

@media(max-width:768px){

.brand-box{
    width:140px;
    height:75px;
    font-size:28px;
}

.slide-track{
    gap:18px;
}

}

/* Mobile */

@media(max-width:480px){

.brand-box{
    width:110px;
    height:60px;
    font-size:22px;
}

.slide-track{
    gap:15px;
}

.brand-slider::before,
.brand-slider::after{
    width:35px;
}

}